<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../images/highlights.svg" />
    <title>Personal NFT Mint</title>
    <meta name="author" content="Megan" />
    <meta name="description" content="A webpage for my personal NFT mint" />
    <!--Using Bootstrap for most styling-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <!--Header area contains navigation bar-->
    <%- include('header'); %>
    <!-- Hero section -->
    <div class="space"></div>

    <section id="hero">
      <!--container for p5.js sketch-->
      <div id="p5-container"></div>
    </section>

    <div class="b-example-divider"></div>
    <!--Philosophy section-->
    <div class="container px-4 py-5" id="about">
      <h2 class="pb-2 border-bottom">About the Artist</h2>

      <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="d-flex flex-column align-items-start gap-2">
          <img
            class="d-block mx-auto mb-4"
            src="../images/highlights.svg"
            alt=""
            width="100"
            height="100"
          />
        </div>
        <div class="d-flex flex-column align-items-start gap-2">
          <h3 class="fw-bold">My Approach to the Work</h3>
          <p class="text-muted">
            As a multidisciplinary person, I love learning a variety of mediums
            spanning visual arts, music, psychology, and technology. My creative
            practice involves dedicating time to project work, and seeing what
            emerges from the blend of my skillset and the emergent properties of
            the project in the context of its medium.
          </p>
        </div>
      </div>
    </div>

    <div class="b-example-divider"></div>

    <!--Display area to show a random project to feature -->
    <div class="container px-4 py-5" id="featured">
      <h2 class="pb-2 border-bottom">Featured Project</h2>

      <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex justify-content-center">
          <!--Note to self: move style on image to the css file-->
          <img
            class="img-fluid rounded shadow"
            src="<%= project.img_url %>"
            alt="<%= project.project_name %> project photo"
            style="max-width: 400px; width: 100%"
          />
        </div>
        <div class="col d-flex flex-column align-items-start gap-2">
          <h3 class="fw-bold"><%= project.project_name %></h3>
          <p class="text-muted"><%= project.project_description %></p>
          <h4>About the NFT</h4>
          <p><strong>Medium:</strong> <%= project.medium %></p>
          <p>
            <strong>Year Minted:</strong> <%= new
            Date(project.open_date_gmt).getFullYear() %>
          </p>
          <p><strong>Editions:</strong> <%= project.quantity %></p>
          <p><strong>Price (Ethereum):</strong> <%= project.price_eth %></p>
        </div>
      </div>
    </div>

    <div class="space"></div>
    <!--Footer section-->
    <div class="container"><%- include('footer'); %></div>
    <!--Required Bootstrap Script-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <!--connect wallet code-->
    <script type="module" src="./js/index.js"></script>
    <!--p5.js library and sketch code-->
    <script src="https://cdn.jsdelivr.net/npm/p5@1.9.4/lib/p5.min.js"></script>
    <script src="./js/hero-sketch.js"></script>
  </body>
</html>
